.custom-img {
  width: auto; /* Lebar otomatis agar gambar proporsional */
  height: 500px; /* Atur tinggi gambar sesuai kebutuhan Anda */
  object-fit: cover; /* Menyesuaikan gambar agar sesuai dengan dimensi yang ditentukan */
}
