.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Menyesuaikan kolom secara otomatis */
    gap: 20px;
  }
  
  .post-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menyesuaikan gambar tanpa merubah aspek rasionya */
  }
  
  .post-image-container {
    height: 800px;
    width: 100%; /* Menyesuaikan lebar kotak dengan ukuran grid */
    overflow: hidden;
  }
  
  .post-description-container {
    padding: 10px;
  }
  
  .post-description {
    margin: 0;
  }
  